{#{% extends "base1.html.twig" %}



{% block body %}#}

    {% extends "base_back.html.twig" %}


{% block content_event %}

    <center>
    {{ include('@Product/Productcategory/_formcat.html.twig') }}
        <br>
        <br>
    <p>Today: {{ 'now'|date('Y-m-d') }}</p>
    </center>
{% endblock  %}

